distilgpt2_trained/
**/checkpoint-*/
*.safetensors
*.pt
*.bin

split_dataset/
*.arrow
dataset_dict.json
dataset_info.json
state.json

__pycache__/
*.pyc
*.pyo
*.pyd

logs/
*.log

health_app.db
.env

